.auth-container {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 30px;
    gap: 30px;
    font-family: Roboto, sans-serif;
}

.login-box,
.register-box {
    flex-basis: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Input and label styling */
input[type='text'],
input[type='password'] {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

button {
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #4396f0;
    color: white;
    border: none;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0b4e96;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.groups-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.group-details {
    flex-basis: 60%;
}

.create-group-form {
    flex-basis: 30%;
    padding: 20px;
    border-left: 1px solid #ccc;
}

.group-heading {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.group-list {
    font-size: 18px;
    color: #555;
}

.group-item {
    margin-bottom: 10px;
}

.commit-container {
    padding: 20px;
    margin-left: 20px;
}

.commit-heading {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.commit-member-list {
    font-size: 18px;
    color: #555;
    list-style-type: none;
    /* Optional: remove bullet points */
    padding-left: 0;
    /* Align list items to the left */
}

.commit-member-item {
    margin-bottom: 10px;
    padding: 5px 0;
}

.commit-back-button {
    padding: 10px 15px;
    margin-top: 20px;
    background-color: #4396f0;
    color: white;
    border: none;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.commit-back-button:hover {
    background-color: #0b4e96;
}
