.NavBar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: var(--l) var(--l); */
    background-color: #ADD8E6;
    padding: 15px 20px;
    /* position: absolute;
    width: 100vw;
    z-index: 100;
    height: 32px;
    top: 0; */
}

.NavBar-title {
    color: var(--white);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
}

.NavBar-button {
    background-color: #2982e2;
    color: white;
    border: 2px solid #1466b8;
    border-radius: 15px;
    margin-right: 30px;
    padding: 8px 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 123, 0.3);
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.NavBar-button:hover {
    background-color: #003366;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.5);
    transform: translateY(-2px);
}

.gradient1-text {
    margin-top: 96px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 30px;
    /* Adjust the font size */
    background: linear-gradient(45deg, #07e6f6, #a212d6);
    /* Define your gradient colors and angle */
    -webkit-background-clip: text;
    /* Clip the gradient to the text */
    background-clip: text;
    font-weight: bold;
}
